*{ margin: 0; padding: 0;}
            
body{
    font-size: 24px;
    font-family: "Myriad Set Pro", Myriad, Helvetica, Arial, sans-serif;
    text-align: center;
    height: 100%;
}

#nav{
    width: 100%;  
    height: 48px; 
    background-color: rgba(0,0,0,0.65);
    font-size: 14px; 
    position: fixed;
    z-index: 9999;
}
          
.navBarUl{
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%; 
}

.navBarUl li{
    display: table-cell;
    line-height: 48px;
    list-style-type: none; 
    transition: all 200ms ease-in;
}

.navBarUl li:first-child{
    width: 150px;
}

.navBarUl li img{
    height: 36px;
    position: absolute;
    left:15px;
    top: 6px;
}

.navBarUl li:hover:not(:first-child){
    background-color: rgba(168,168,168,0.5);
}

.navBarUl li:not(:first-child){
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: rgba(9, 9, 9, 0.125);
}

.navBarUl li a{
    text-decoration: none;
    color: #E8E8E8;
    cursor: default;
    display: block;
    line-height: 48px;
    height: 100%;
    width: 100%;
}  
            
#section1{ 
    background: url("../images/home-background.png") no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    width: 100%; 
    float: left;  
    
}

#section1 .logo-x{
    height: 60px;
    position: absolute;
    left: 10px;
    bottom: 20px;
}

#section1 .logo-berkeley{
    height: 60px;
    position: absolute;
    left: 180px;
    opacity: 0.9;
    bottom: 20px;
}

#section1 #content_text{
    left:50%;
    margin-left: -300px;
    top: 40vh;
    position: absolute;
}

#section1 #content_text h1{
    color: #fff;
    font-size: 40px;
    opacity: 0;
    font-weight: lighter;
    line-height: 70px;
    text-shadow: 1px 1px #b1b1b1;
}

#section1 h2{
    margin-left: 40px;
    text-align: left;
    color: #fff;
    font-size: 22px;
    font-weight: lighter;
    line-height: 20px;
    text-shadow: 1px 1px #b1b1b1;
}

#section1 .available-soon{
    height: 10%;
    position: absolute;
    bottom: 3px;
    right: 0px;
}

#section2{
    padding-top:100px; 
    width: 100%; 
    overflow: auto; 
    background:#E9E9E9; 
    float: left;
    padding-bottom: 40px; 
}


#section2 .title-description-product{
    font-size: 30px;
    opacity: 0.8;
    font-weight: 200;
    text-shadow: 2px 2px #E0E0E0;
}

#section2 .separator-product{
    margin-top: 38px;
    margin-bottom: 38px;
    margin-left: auto;
    margin-right: auto;
    height: 2px;
    background-color: #787878;
    width: 60px;
}

#section2 .description-product{
    display: table;
    margin: 0 auto;
    table-layout: fixed;
    list-style-type: none;
    width: 95%;
    height: 250px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}

#section2 .description-product .product{
    display: table-cell;
    width: 100%;
}

#section2 .description-product .product .content1{
    margin-top: 7%;
    padding-left: 7%;
    padding-right: 7%;
    width: 80%;
    border-right: 1px solid #808080 ;
    height: 80%;
}

#section2 .description-product .product .content2{
    margin-top: 7%;
    padding-left: 7%;
    padding-right: 7%;
    border-right: 1px solid #808080 ;
    height: 80%;
    width: 80%;
}

#section2 .description-product .product .content3{
    margin-top: 7%;
    padding-left: 7%;
    padding-right: 7%;
    height: 80%;
    width: 80%;
}

#section2 li .title-product{
    margin-top: 20px;
    font-size: 16px;
    color: #0033CC;
}

#section2 li .content-product{
    margin-top: 5px;
    font-size: 12px;
    color: #8698a8;
}

#section2 .description-product li img{
    width: 55%;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 6px;
}

#section2 .product-advantage{
    padding-top: 30px;
    display: table;
    width: 80%;
    margin: 0 auto;
}

#section2 .product-advantage li{
    display: table-cell;
    padding-left: 20px;
    padding-right: 20px;
}

#section2 .product-advantage li .picto{
    height: 60px;
    font-size: 60px;
    color: rgba(0,0,0,0.6);
    padding-bottom: 15px;
}

#section3{ 
    background: #ededed; 
    width: 100%;   
    overflow: hidden;
    height: 100vh;
}

#section3 h1{ 
    margin-top: 80px;
    margin-bottom: 80px;
}

#section3 ul{
    display: table;
    table-layout: fixed;
    margin: 0 auto;
    width: 80%;
    height: 70%; 
}

#section3 li{
    display: table-cell;
    width: auto;
    list-style-type: none; 
}

#section3 li .name{
    margin-bottom: 10px;
    color: rgb(8,26,71);
    font-size: 13px;
}

#section3 li .photo{
    position: relative;
    width: 100%;
}

#section3 .team .photo img{
    filter: grayscale(50%);
    border-radius: 50%;
    width: 80%;
}

#section3 .team .photo:hover img{
    filter: opacity(25%) grayscale(70%);
}

#section3 .team .photo p{
    font-size: 12px;
    position: absolute;
    opacity:0;
    width: 60%;
    top:20%;
    left: 20%;
}

#section3 .team .photo:hover p{
    font-size: 12px;
    opacity:1;
    width: 60%;
    position: absolute;
    top:20%;
    left: 20%;
    color: #fff;
    text-shadow: 1px 2px 1px #303030 ; 
}

#section3 .team .photo .fonction{
    font-size: 18px;
    text-shadow: 1px 2px 1px #b1b1b1; 
}

#section4{ 
    background: url("../images/contact-background.png") no-repeat center center fixed;   
    width: 100%;
    float: left;  
    overflow: auto;
}

#section4 .footer { 
    background: #f1f1f1;
    width: 100%; 
    float: left;  
    overflow: hidden;
}

#section4 .logo {
    width: 20%;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 30px;
}

#section4 .logo img{
    width: 50%;
}

.credit{
    margin-bottom: 60px;
}

.credit p,a{
    color: rgb(8,26,71);
    font-size: 17px;
    line-height: 27px;
    text-decoration: none;
}

.credit a:hover{
    color: #777777;
}

#section4 h1{
    line-height: 164px;
    color: rgb(255, 255, 255);
    text-shadow: 2px 3px #333333;
}

.contact-text{
    width: 50%;
    margin: auto;
    margin-top: 50px;
    color: rgb(255, 255, 255);
    text-shadow: 2px 3px #333333;
}

.contact-text p{
}

.contact-link {
    margin-top: 80px;
    margin-bottom: 50px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-shadow: 2px 3px #333333;
    line-height: 40px;
}

.contact-link a{
    color: rgb(255, 255, 255);
    text-shadow: 2px 3px #333333;
    font-size: 20px;
}

.contact-link a:hover{
    color: #d1d1d1;
    font-size: 20px;
}

.contact-link p{
    color: rgb(255, 255, 255);
    text-shadow: 2px 3px #333333;
    font-size: 20px;
    font-style: italic;
}
