*{ margin: 0; padding: 0;}
            
body{
    font-size: 24px;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    text-align: center;
    height: 100%;
}

.inner {
	width: 980px;
	margin: 0px auto;
}

#nav{
    width: 100%;  
    height: 48px; 
    background-color: rgba(0,0,0,0.25);
    transition: all .3s ease-in-out;
    font-size: 14px; 
    position: fixed;
    z-index: 2;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.4);
}

#nav.various  {
	background: rgba(0,0,0,0.65);;
}
          
.navBarUl{
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%; 
}

.navBarUl li{
    display: table-cell;
    line-height: 48px;
    list-style-type: none; 
    transition: all 200ms ease-in;
}

.navBarUl li:first-child{
    width: 150px;
}

.navBarUl li img{
    height: 36px;
    position: absolute;
    left:15px;
    top: 6px;
}

.navBarUl li:hover:not(:first-child){
    background-color: rgba(168,168,168,0.5);
}

.navBarUl li:not(:first-child){
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: rgba(9, 9, 9, 0.125);
}

.navBarUl li a{
    text-decoration: none;
    color: #E8E8E8;
    cursor: default;
    display: block;
    line-height: 48px;
    height: 100%;
    width: 100%;
}  
            
#section1{ 
    background-size: cover;
    height: 100vh;
    width: 100%; 
}

#section1 .background-image{
    position: absolute;
    height: 0;
    left: 0;
    background: url("../images/home-background.png") no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    width: 100%; 
}

#section1 .logo-x{
    height: 60px;
    position: absolute;
    left: 10px;
    bottom: 20px;
}

#section1 .logo-berkeley{
    height: 60px;
    position: absolute;
    left: 180px;
    opacity: 0.9;
    bottom: 20px;
}

#section1 #content_text{
    left:50%;
    margin-left: -300px;
    top: 40vh;
    position: absolute;
}

#section1 #content_text h2{
    line-height: 35px;
}

#section1 #content_text h1{
    color: #fff;
    font-size: 33px;
    opacity: 0;
    font-weight: 300;
    line-height: 70px;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.4);
    transition: transform .3s ease-in-out, opacity 1s linear;
    transform: translateX(-50px);
}

.ready #section1 #content_text h1 {
	opacity: 1;
	transform: translateX(0px);
}

#section1 h2{
    margin-left: 40px;
    text-align: left;
    color: #fff;
    font-size: 22px;
    font-weight: lighter;
    line-height: 20px;
    text-shadow: 1px 1px #b1b1b1;
}

#section1 .available-soon{
    height: 10%;
    position: absolute;
    bottom: 3px;
    right: 0px;
}

#section2 {
	padding-top: 50px;
    padding-bottom: 50px;
	background: #f8f8f8;	
    overflow: auto;
}

#section2 .title-section2{ 
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 30px;
    opacity: 0.8;
    font-weight: 200;
    text-shadow: 2px 2px #E0E0E0;
}

#section2 ul {
    display: table;
	width: 100%;
	margin: 0px 0px ;
    padding-top: 40px;	
}

#section2 ul.description-product li.product{
    display: table-cell;
	float: left;
    opacity: 0;
	width: 33.3%;
	font-size: 15px;
	list-style: none;
    transition: transform .6s ease-in-out, opacity 1s linear;
    transform: translateX(-50px);	
}


#section2 ul.description-product li.various1{
    opacity: 1;
    transform: translateX(0px);
}




#section2 ul li div {
	margin: 10px 20px;
}

#section2 ul li img:not(:last-child) {
	height: 180px;
	border-radius: 3px
}
#section2 ul li img.product-ball {
    height: 120px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 3px
}

#section2 ul li div span.desciption-product-title {
	font-weight: 400;
    display: block;
    font-size: 19px;
}

#section2 .description-product .product  ul{
    padding-top: 20px;
}

#section2 .description-product .product  .content .specification li{
    display: block;
    margin-bottom: 8px;
	color: #454545;
	font-weight: 300;
}

#section2 h2 p{
    font-size: 30px;
    opacity: 0.8;
    font-weight: 200;
    text-shadow: 2px 2px #E0E0E0;
    margin-top: 45px;
    margin-bottom: 25px;
}

#section2 .value-proposition-title{
    padding-top: 25px;
    padding-bottom: 25px;
    font-weight: 350px;
}

#section2 .product-advantage li{
    display: table-cell;
}

#section2 .product-advantage li h3{
    font-weight: 400;
    margin-bottom: 15px;
    font-size: 19px;
}

#section2 .product-advantage li p{
    font-weight: 300;
    margin-bottom: 15px;
    font-size: 15px;
}

#section2 ul li .picto i{
    font-size: 48px;
    font-weight: 350px;
}


#section3{ 
    background-image: radial-gradient(#E0F0FF, #F1F1F1); 
    padding-top: 70px;
    padding-bottom: 40px;
    width: 100%;   
    overflow: hidden;
}

#section3 .title-section3{ 
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 30px;
    opacity: 0.8;
    font-weight: 200;
    text-shadow: 2px 2px #E0E0E0;
}

.divider{
    margin: 0 auto;
    height: 2px;
    background-color: #787878;
    width: 55%;
}

#section3 ul{
    display: table;
}
#section3 .team-co-founder{
    padding-top: 30px;
    display: table;
    margin: 0 auto;
    width: 50%; 
}

#section3 .team-member{
    padding-top: 40px;
    display: table;
    margin: 0 auto;
    width: 70%; 
}

#section3 ul li{
    display: table-cell;
    list-style-type: none; 
}

#section3 ul li .name{
    margin-bottom: 10px;
    color: #003380;
    font-size: 13px;
    text-shadow: 2px 2px #E0E0E0;
}

#section3 ul li .photo{
    position: relative;
    margin: 0 auto;
    width: 170px;
}

#section3 ul .photo img{
    filter: grayscale(100%);
    border-radius: 50%;
    width: 190px;
    height: 190px;
}

#section3 .inner ul .photo:hover img{
    filter: opacity(10%) grayscale(80%);
}

#section3 ul .photo p{
    opacity:0;
    position: absolute;
    margin-top: -175px;
    width: 160px;
    margin-left:15px; 
    font-size: 13px;
    color: #3668B2;
    text-shadow: 1px 1px #E0E0E0;
}

#section3 ul .photo:hover p{
    opacity:1;
}

#section3 ul .photo .fonction{
    font-size: 18px; 
    color: #505050; 
    text-shadow: 1px 1px #E0E0E0;
}

#section4{ 
    background: url("../images/contact-background.png") no-repeat center center fixed;   
    width: 100%;
    float: left;  
    overflow: auto;
}

#section4 .modal-body form {
    padding:30px;
    background: rgba(0, 0, 0, 0.7); 
}

#section4 .modal-body form textarea{
    background: rgba(255, 255, 255, 0.4) url(http://luismruiz.com/img/gemicon_message.png) no-repeat scroll 16px 16px; 
    width: 80%;
    height: 55px;
    border: 1px solid rgba(255,255,255,.6);
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box; 
    display:block;
    font-family: 'Source Sans Pro', sans-serif;
    font-size:18px;
    color:#fff;
    padding-left:45px;
    padding-right:20px;
    padding-top:12px;
    margin-bottom:20px;
    overflow:hidden;
}

#section4 input{
    width: 80%;
    height: 48px;
    border: 1px solid rgba(255,255,255,.4);
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box; 
    display:block;
    font-size:18px;
    color:#fff;
    padding-left:20px;
    padding-right:20px;
    margin-bottom:20px;
}

#section4 input[type=submit] {
    cursor:pointer;
}

#section4 input.name {
      background: rgba(255, 255, 255, 0.4) url(http://luismruiz.com/img/gemicon_name.png) no-repeat scroll 16px 16px; 
      padding-left:45px;
}

#section4 input.email {
      background: rgba(255, 255, 255, 0.4) url(http://luismruiz.com/img/gemicon_email.png) no-repeat scroll 16px 20px;
      padding-left:45px;
}

::-webkit-input-placeholder {
      color: #fff;
}

:-moz-placeholder{ 
    color: #fff; 
}

::-moz-placeholder {
    color: #fff;
}

:-ms-input-placeholder {  
      color: #fff; 
}

#section4 input:focus, textarea:focus { 
    background-color: rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 5px 1px rgba(255,255,255,.5);
    -webkit-box-shadow: 0 0 5px 1px rgba(255,255,255,.5);
    box-shadow: 0 0 5px 1px rgba(255,255,255,.5);
    overflow: hidden; 
}

#section4 .modal-body .button-send-form{
    background: #ECECEC;
    border-radius: 15px;
    padding: 10px 20px;
    font-weight: bold;
    color:#7f7f7f;
    text-decoration: none;
    text-shadow:0px 1px 0px #fff;
    border:1px solid #a7a7a7;
    width: 135px;
    font-size: 20px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.7);
    -webkit-transition:box-shadow 0.5s;
}

#section4 .modal-body .button-send-form:hover{
    box-shadow:0px -1px 3px #999999;
}

#section4 .footer { 
    background: #f1f1f1;
    width: 100%; 
    float: left;  
    overflow: hidden;
}

#section4 .logo {
    width: 20%;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 30px;
}

#section4 .logo img{
    width: 50%;
}

.credit{
    margin-bottom: 60px;
}

.credit p,a{
    color: rgb(8,26,71);
    font-size: 17px;
    line-height: 27px;
    text-decoration: none;
}

.credit a:hover{
    color: #777777;
}

#section4 h1{
    line-height: 164px;
    color: rgb(255, 255, 255);
    text-shadow: 1px 2px #333333;
}

#section4 .title-section4{
    color: rgb(255, 255, 255);
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 200;
    text-shadow: 1px 2px #333333;
}

#section4 .divider{
    margin: 0 auto;
    height: 2px;
    background-color: rgb(255, 255, 255);
    width: 45%;
}

#section4 .pre-order .button-pre-order{
    position: absolute;
    right: 40px;
    margin-top: -100px;
    background: #ECECEC;
    border-radius: 15px;
    padding: 10px 20px;
    font-weight: bold;
    color:#7f7f7f;
    text-decoration: none;
    text-shadow:0px 1px 0px #fff;
    border:1px solid #a7a7a7;
    width: 165px;
    font-size: 20px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.7);
    -webkit-transition:box-shadow 0.5s;
}

#section4 .pre-order .button-pre-order i{
    float: right;
    margin-left: 6px;
    margin-top: 4px;
}

#section4 .pre-order .button-pre-order:hover{
    box-shadow:0px -1px 3px #999999;
}

#section4 .modal-header button.close{
    position: absolute;
    right: 10px;
    vertical-align: center;
}

#section4 .modal-header h4{
    font-weight: lighter;
}
.contact-text{
    width: 50%;
    margin: auto;
    margin-top: 50px;
    color: rgb(255, 255, 255);
    text-shadow: 2px 3px #333333;
}

.contact-link {
    margin-top: 80px;
    margin-bottom: 50px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-shadow: 2px 3px #333333;
    line-height: 40px;
}

.contact-link a{
    color: rgb(255, 255, 255);
    text-shadow: 2px 3px #333333;
    font-size: 20px;
}

.contact-link a:hover{
    color: #d1d1d1;
    font-size: 20px;
}

.contact-link p{
    color: rgb(255, 255, 255);
    text-shadow: 2px 3px #333333;
    font-size: 20px;
    font-style: italic;
}

@media only screen and (max-device-width: 480px) {

    .inner{
        width: 350px;
    }

    #nav a{
        font-size: 12px;
    }

    #section1 #content_text{
        left:50%;
        margin-left: -150px;
    }

    #section1 #content_text h1{
        font-size: 21px;
    }

    #section1 #content_text h2{
        font-size: 14px;
    }

    #section1 .logo-x{
        height: 30px;
    }

    #section1 .logo-berkeley{
        height: 30px;
        left: 100px;
    }

    #section2 h2{
        font-size: 16px;
    }

    #section2 ul li img{
        width: 60%;            
    }

    #section2 ul{
        text-align: center;

    }
    
    #section2 ul.description-product li.product {
        margin-left: 35px;
        display: table-column;
        font-size: 12px;
        width: 80%; 
        padding-bottom: 25px;
    }

    #section2 ul.product-advantage li{
        display: table-row;
    }

    #section2 ul li .picto i{
        font-size: 38px;
    }

    #section3 ul li{
        display: table;
    }

    #section3 .team-member{
        width: 50%;
    }

    #section3 ul li .photo img{
        margin-top: 100px;
    }

    #section3 ul .photo img{
        width: 120px;
        height: 120px;
    }

    #section3 ul li .name{
        font-size: 10px;    
    }

    #section3 ul .photo p{
        font-size: 10px;
    }

    #section3 ul li .photo .fonction{
        font-size: 12px;
        padding-bottom: 15px;
    }

    #section3 ul .photo p{
        opacity:1;
        font-size: 10px;
        margin-top: -230px;
        color: #3668B2;
        text-shadow: 1px 1px #E0E0E0;
    }

    #section4 h1{
        line-height: 124px;
        color: rgb(255, 255, 255);
        text-shadow: 1px 2px #333333;
        font-size: 25px;
    }

    #section4 p{
        font-size: 17px;
    }

    #section4 a{
        font-size: 15px;
    }

    #section4 .pre-order .button-pre-order{      
        right: 10px;
        margin-top: -40px; 
        font-weight: lighter;
        padding: 5px 10px;
        border:1px solid #a7a7a7;
        width: 95px;
        font-size: 10px;
    }

    #section4 .pre-order .button-pre-order i{
        float: right;
        margin-left: 3px;
        margin-top: 2px;
    }

    #section4 .modal{
        width: 300px;
        margin-left: -150px;
    }

    #section3 ul .photo:hover img{
        filter: opacity(100%) grayscale(100%);
    }   
    
    
}
